:root {
	--page-background: #181820;
	--button-color: #182838;
	--button-border: #687c90;
	--button-highlight: #c0e0ff;
	--content-color: #e0e0f0;
	--content-background: #303038;
	--inset-border: #404048;
	--inset-background: #202024;
	--inset-header: #505058;
	--title-background: #a0d0f0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: #a0c0e0;
	overflow-wrap: anywhere;
}

a:visited {
	color: #80a0c0;
}

aside {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

aside > div {
	background-color: var(--page-background);
	background-position: 0% center;
	background-repeat: no-repeat;
	border: solid 2px var(--inset-border);
	border-radius: 10px;
}

aside + * {
	margin-top: 20px;
}

body {
	background-color: var(--page-background);
	color: var(--content-color);
	font-family: sans-serif;
}

button {
	background-color: var(--title-background);
	border: solid 2px var(--button-border);
	border-radius: 12px;
	color: var(--button-color);
	cursor: pointer;
	height: 24px;
	padding: 2px 8px;
	white-space: nowrap;
}

button:hover {
	background-color: var(--button-highlight);
}

code {
	background-color: var(--page-background);
	border-radius: 4px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	padding: 2px 4px 0px 4px;
	white-space: nowrap;
}

code[title] {
	cursor: help;
}

h1, h2, h3, h4 {
	color: var(--title-background);
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

h1 {
	align-items: center;
	display: flex;
	font-size: 72px;
	justify-content: center;
}

h1::before {
	background: url('../images/Timely.png');
	background-size: cover;
	content: ' ';
	display: inline-block;
	height: 72px;
	margin-right: 12px;
	width: 72px;
}

p + p {
	margin-top: 8px;
}

section {
	background-color: transparent;
	border-radius: 4px;
	margin: 20px;
	padding: 10px 20px 20px 20px;
	transition: 1s;
}

/* clearfix from w3schools.com */
section::after {
	content: "";
	clear: both;
	display: table;
}

section h2 {
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
}

section h2::after {
	border-bottom: solid 4px var(--title-background);
	bottom: -2px;
	content: "";
	display: block;
	left: 0px;
	position: absolute;
	top: 0px;
	transition: 0.5s;
	width: 0%;
}

section:hover {
	background-color: var(--content-background);
}

section:hover h2::after {
	width: 100%;
}

#bot-demo {
	background-image: url('../images/bot-demo.png');
	height: 148px;
	width: 485px;
}

#config-blank {
	background-image: url('../images/config-blank.png');
	height: 344px;
	width: 1019px;
}

#tzTable {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	margin-top: 8px;
}

#tzTable > div {
	display: flex;
}

#tzTable > p {
	margin-top: 8px;
}

#tzTable > div.header {
	background-color: var(--content-background);
	color: var(--title-background);
	font-weight: bold;
}

#tzTable > div > div {
	border: solid 1px var(--inset-border);
	padding: 2px 8px;
}

#tzTable > div:not(:first-child) > div {
	background-color: var(--inset-background);
	margin-top: -1px
}

#tzTable > div > *:first-child {
	width: 120px;
}

#tzTable > div > *:last-child {
	margin-left: -1px;
	width: calc(100% - 120px);
}

.hideMe {
	display: none !important;
}

@media screen and (max-width: 440px) {
	h1 {
		font-size: 48px;
	}

	h1::before {
		height: 48px;
		margin-right: 8px;
		width: 48px;
	}

	section {
		margin: 10px;
		padding: 10px;
	}
}